.driver-results-background {
  background: repeating-linear-gradient(45deg, #fb8500cc, #fb8500cc 20px, #ffffffcc 20px, #ffffffcc 40px);
}

h2 {
  transform: capitalize;
  margin: 0 0 2rem;
}
.count-up-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.count-up {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: fit-content;
  /* padding: 1rem 0; */
  span {
    text-transform: capitalize;
  }
  span:first-child {
    font-size: 2.5rem;
    line-height: 0;
  }
  /* Counter */
  span:last-child {
    font-size: 6.5rem;
    line-height: 7rem;
  }
}

@media screen and (max-width: 768px) {
  .count-up-container {
    grid-template-columns: 1fr;
  }
  .count-up {
    align-items: center;
    text-align: center;
  }
  .count-up span:first-child {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .count-up span:last-child {
    font-size: 4rem;
    line-height: 4.5rem;
  }
}